*{margin: 0; padding: 0; box-sizing: border-box;}
body, html{height: 100%; position: relative;}
#list_head{padding: 0px 15px;}
#list_body{position: relative;}
#list_body .list_box{
  display: flex;
  padding: 20px 20px;
}
#list_body .list_box img{width: 30px; height: 30px;}
#list_body .list_box .hambg{
  margin-right: 15px;
  margin-top: 5px;
}
#list_body .list_box .star{
  position: absolute;
  right: 25px;
  margin-top: 5px;
}
#list_body .list_box .text{
  display: block;
}
#list_body .list_box .text a{
  color: black;
  text-decoration: none;
}
#list_body .list_box .text .text_s{
  font-size: small;
}
#req{
  position: absolute;
  bottom: 30px;
  width: 100%;
}
#req button{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border-color: rgb(73, 73, 231);
  font-size: medium;
  display: block;
  margin: 0 auto;
  background-color: white;
  cursor: pointer;
}