@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

body {
    background-color: #eee;
}

.topbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.topbar .prevPage {
    margin-left: 15px;
}

.topbar .modPushtime {
    margin-right: 30px;
}

.topbar a {
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.topbar a:hover {
    color: rgb(55, 60, 66);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.stuWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 285px;
    border: 1px solid gray;
    background-color: #fff;
    margin: 0.5em;
}
.stuWrap ul li {
    text-align: center;
}

.attImg img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #eee;
}

.stuName {
    font-family: 'SLEIGothicTTF';
    font-size: 1.1em;
    padding: 0.8em 0;
}

.uploadTime {
    font-size: 0.8em;
}
