@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

#video {
    height: 100%;
    border: 1px solid black;
}

#photo {
    object-fit: contain;
}

#canvas {
    display: none;
}

.camera {
    display: inline-block;
}

.output {
    width: 100%;
    display: inline-block;
}

#startbutton, #sendbutton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    padding: 10px;
    background-color: #6a67ce;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 20px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
}

.contentarea {
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

header{
    background-color: rgb(215, 239, 253);
    margin: 0px;
    margin-bottom: 10px;
}

.text{
    text-align: center;
}